<div style="margin:10px;">
  <div style="margin-bottom:7px"> <input type="text" id="routeFrom" #routeFrom name="routeFrom" placeholder="Source" />
    <label for="routeFrom">From</label>
    </div>
   <div style="margin-bottom:12px"> <input type="text" id="routeTo" #routeTo name="routeTo" placeholder="Destination" />
    <label for="routeTo">To</label><br />
   </div>
    <button id="routeGo" #routeGo class="btn btn-primary btn-sm">Route</button>
    <button id="waypointAdd" #waypointAdditional class="btn btn-info btn-sm">Add waypoint</button>
   <button id="waypointAdd" class="btn btn-danger btn-sm">Remove waypoint</button> -->
</div>


<div id="gmap" #gmap style="width:100%; height:400px;"></div>

<!--<div id="directions" #directions></div>
<div id="Gresponse"></div>-->